# Kadavuley Docker ignore
node_modules
.turbo
.git
.platform
*.db
*.db-shm
*.db-wal
dist
platform/node_modules
platform/tui/node_modules
platform/.platform
platform/*.db*
platform/test*.db*
packages/*/node_modules
packages/*/dist
packages/app
packages/console
packages/containers
packages/desktop
packages/docs
packages/enterprise
packages/extensions
packages/storybook
packages/web
sdks
nix
infra
.github
patches
